<p>In this game you will have to guide a rat through different sewers across the galaxy! 
    To do this you need to make sure that the rat is always the same color as the object that he passes through.
    You can move along the wall of the sewer by pressing <b>A and D</b> and change between the colors red,green and blue with the <b>J, K, L</b> respectively.
 </p>
 <br>
 <p>
     The game has a total of 12 levels, each about 30 seconds long. If you fail a level by losing all your lives, you will be set back 2 levels. 
     After 5 minutes of playing you can press the "e" key to finish the game instantly
 </p>