# Database settings
SQLALCHEMY_DATABASE_URI = 'sqlite:///Rat_Run.db'

# Application Settings
SECRET_KEY = 'dygfgalfgyaldyfakleyhfgaklf'  # The secret key MUST be unique. Just mash your keyboard for a few seconds...
APPLICATION_ROOT = ''
TITLE = 'Biomarker research'
ADMIN_PASSWORD = 'ratrun'
USE_BREADCRUMBS = False
USE_LOGO = False
CONDITIONS_NUM = 1

# Each entry must contain a user-friendly name and a unique path
PAGE_LIST = [
    {'name': 'Consent', 'path': 'consent'},
    {'name': 'Instructions', 'path': 'instructions/Rat_Run_Wheel'},
    {'name': 'Game', 'path': 'Rat_Run_Wheel'},
    {'name': 'End', 'path': 'end'}
]

# Hint: use """ for multi-line text.
CONSENT_TEXT = """
    Consent text here.
    """
